@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-detail: "Bakerie", cursive;
  --color-off: #fff3eb;
  --color-detail-orange: #ff6025;
  --color-detail-green: #0f901c;
  --color-text-brown: #8a4016;
}

@font-face {
  font-family: "Bakerie";
  src: url("assets/bakerie.otf");
}

body {
  font-family: "Ruda", sans-serif;
  color: #8a4016;
  font-size: large;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
