@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-detail: "Bakerie", cursive;
  --color-pale: #eddad1;
  --color-brown: #a65a2e;
  --color-off: #fffbf9;
}

@font-face {
  font-family: "Bakerie";
  src: url("assets/bakerie.otf");
}

body {
  font-family: "Ruda", sans-serif;
  font-size: large;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
